@import "tailwindcss";
@import "tw-animate-css";

/* Force Rebuild 1 */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:root {
  --radius: 0.625rem;
  --background: #FFF8F4;
  --foreground: #524342;
  --card: #FFFFFF;
  --card-foreground: #524342;
  --popover: #FFFFFF;
  --popover-foreground: #524342;
  --primary: #854C4A;
  --primary-foreground: #FFFFFF;
  --secondary: #FFF1E7;
  --secondary-foreground: #854C4A;
  --muted: #FFF8F4;
  --muted-foreground: #6E5B42;
  --accent: #DBC9C4;
  --accent-foreground: #221A13;
  --destructive: #C17F7C;
  --destructive-foreground: #FFFFFF;
  --border: #DBC9C4;
  --input: #DBC9C4;
  --ring: #854C4A;
  --sidebar-background: #FFF8F4;
  --sidebar-foreground: #524342;
  --sidebar-primary: #854C4A;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #DBC9C4;
  --sidebar-accent-foreground: #221A13;
  --sidebar-border: #DBC9C4;
  --sidebar-ring: #854C4A;
}

.dark {
  --background: #221A13;
  --foreground: #FFF8F4;
  --card: #4F3633;
  --card-foreground: #FFF8F4;
  --popover: #221A13;
  --popover-foreground: #FFF8F4;
  --primary: #C17F7C;
  --primary-foreground: #221A13;
  --secondary: #6B3A38;
  --secondary-foreground: #FFF8F4;
  --muted: #4F3633;
  --muted-foreground: #DBC9C4;
  --accent: #6B3A38;
  --accent-foreground: #FFF8F4;
  --destructive: #C17F7C;
  --destructive-foreground: #221A13;
  --border: #6B3A38;
  --input: #6B3A38;
  --ring: #C17F7C;
  --sidebar-background: #221A13;
  --sidebar-foreground: #FFF8F4;
  --sidebar-primary: #C17F7C;
  --sidebar-primary-foreground: #221A13;
  --sidebar-accent: #6B3A38;
  --sidebar-accent-foreground: #FFF8F4;
  --sidebar-border: #6B3A38;
  --sidebar-ring: #C17F7C;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}